{{>header}}


{{>navbar}}

{{>sidebar}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <h3 class="page-title">{{name}} / فیس انتظام</h3>
                </div>

            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="row mt-25">
                {{#each fees}}
                <div class="col-6 col-md-3">
                    <div class="box box-link-shadow text-center pull-up" href="javascript:void(0)">
                        <div class="box-body py-25 bg-info-light px-5">
                            <p class="fw-600 text-info">{{this.name}}</p>
                        </div>
                        <div class="box-body">
                            <h1 class="countnm fs-36 m-0">{{this.amount}}</h1>
                        </div>
                        <div class="row">
                            <div class="box-body col-6">
                                <a href="#" class="btn d-grid btn-primary-light">Edit</a>
                            </div>
                            <div class="box-body col-6">
                                <a href="/fee/portal/{{this.id}}" class="btn d-grid btn-primary-light">Send</a>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="col-6 col-md-3 d-flex align-items-center">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#modal-center" alt="alert"
                        class="box box-link-shadow text-center pull-up btn align-items-center"
                        href="javascript:void(0)">
                        <div class="box-body">
                            <h1 class="countnm fs-50 m-0"><span class="glyphicon glyphicon-plus"></span></h1>
                        </div>
                    </button>
                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
</div>




{{!-- Modal --}}
<div class="modal center-modal fade" id="modal-center" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="box">
                    <div class="box-header with-border">
                        <h4 class="box-title">طالب علم شامل کرنے کا فارم</h4>
                    </div>
                    <!-- /.box-header -->
                    <form class="form-fee" method="post" action="/fee/addfee">
                        <div class="box-body">
                            <h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> ذاتی معلومات</h4>
                            <hr class="my-15">
                            <input type="hidden" value="{{id}}" name="class">
                            <div class="form-group">
                                <label class="form-label">Type/Name</label>
                                <input type="text" name="name" value="" required class="form-control">
                            </div>
                            <div class="form-group">
                                <label class="form-label">Amount</label>
                                <input type="text" name="amount" value="" required class="form-control">
                            </div>
                            {{!-- Date --}}
                            {{!-- <div class="form-group row">
                                <label for="date" class="form-label">Date</label>
                                <input class="form-control eng" name="date" type="date" id="date">
                            </div> --}}
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary" fdprocessedid="ecljau">
                                <i class="ti-save-alt"></i> جمع کریں
                            </button>
                            <button type="reset" class="btn btn-warning me-1" fdprocessedid="lzzut">
                                <i class="ti-trash"></i> صاف کریں
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer modal-footer-uniform">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                {{!-- <button type="button" class="btn btn-primary float-end">Save changes</button> --}}
            </div>
        </div>
    </div>
</div>






{{!--
<script src="/js/pages/chat-popup.js"></script>
<script src="/assets/icons/feather-icons/feather.min.js"></script>
<script src="/assets/vendor_components/sweetalert/sweetalert.min.js"></script>
<script src="/assets/vendor_components/sweetalert/jquery.sweet-alert.custom.js"></script> --}}
{{>footer}}
<!-- Page Content overlay -->
{{!--
<script>
    $(document).ready(function () {
        $('form.form-fee').submit(function (e) {
            e.preventDefault(); // Prevent the default form submission
            console.log('this', this, 'submittd')
            // Serialize form data
            var formData = $(this).serialize();
            console.log('form data', formData)
            // AJAX request to submit form data
            $.ajax({
                type: $(this).attr('method'), // Get the form's method attribute
                url: $(this).attr('action'), // Get the form's action attribute
                dataType: 'json', // Specify the expected response type
                data: formData, // Serialized form data
                success: function (response) {
                    // Handle success response if needed
                    console.log("Form submitted successfully:", response);
                },
                error: function (error) {
                    // Handle error response if needed
                    console.error("Error submitting form:", error);
                }
            });
        });
    });
</script> --}}

<!-- Vendor JS -->
<script src="/js/pages/chat-popup.js"></script>
<script src="/vendor_components/sweetalert/sweetalert.min.js"></script>
<script src="/vendor_components/sweetalert/jquery.sweet-alert.custom.js"></script>