{{>header}}


{{>navbar}}

{{>sidebar}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h3 class="page-title">{{#if user}} ترمیم طلباء علم{{else}} اندراج طلباء علم{{/if}}</h3>
				</div>

			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="col-lg-6 col-12">
					<div class="box">
						<div class="box-header with-border">
							<h4 class="box-title">طالب علم {{#if user}} ترمیم{{else}} شامل{{/if}} کرنے کا فارم</h4>
						</div>
						<!-- /.box-header -->
						<form class="form" method="post">
							{{#if user}}
							<input type="hidden" name="id" value="{{user.id}}" />
							{{/if}}
							<div class="box-body">
								<h4 class="box-title text-info mb-0"><i class="ti-user me-15"></i> ذاتی معلومات</h4>
								<hr class="my-15">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">نام</label>
											<input type="text" name="name" value="{{user.name}}" class="form-control"
												required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">شناختی کارڈ نمبر</label>
											<input type="text" name="nic" value="{{user.nic}}" class="form-control nic">
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">والد کا نام</label>
											<input type="text" name="fatherName" value="{{user.fatherName}}"
												class="form-control" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">والد شناختی کارڈ نمبر</label>
											<input type="text" name="fatherNic" value="{{user.fatherNic}}"
												class="form-control nic" id="nic" required>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">موبائل نمبر</label>
											<input type="text" name="phone" value="{{user.phone}}"
												class="form-control mobile" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">والد موبائل نمبر</label>
											<input type="text" name="fatherPhone" value="{{user.fatherPhone}}"
												class="form-control mobile">
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="form-label">پتہ</label>
									<input type="text" name="address" value="{{user.address}}" class="form-control"
										required>
								</div>
								<div class="row">
									<div class="col-md-6">
										<div class="form-group row">
											<label for="dob" class="form-label">تاریخ پیدائش</label>
											<input class="form-control eng" name="dob" value="{{inputDate user.dob}}" type="date"
												id="dob" required>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">جنس</label>
											<div class="c-inputs-stacked">
												<input {{#ifEqual user.gender "مرد"}}checked{{/ifEqual}} name="gender" type="radio" id="male" value="مرد" required>
												<label for="male" class="me-30">مرد</label>
												<input {{#ifEqual user.gender "عورت"}}checked{{/ifEqual}} name="gender" type="radio" id="female" value="عورت" required>
												<label for="female" class="me-30">عورت</label>
											</div>
										</div>
									</div>
								</div>

								<h4 class="box-title text-info mb-0 mt-20"><i class="ti-save me-15"></i> دیگر معلومات
								</h4>
								<hr class="my-15">
								<div class="row">
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">تعلیم</label>
											<select class="form-select eng" name="education"
												required>
												<option {{#ifEqual user.education "none"}}selected{{/ifEqual}} value="none">None</option>
												<option {{#ifEqual user.education "metric"}}selected{{/ifEqual}} value="metric">Metric</option>
												<option {{#ifEqual user.education "intermediate"}}selected{{/ifEqual}} value="intermediate">FA/FSc</option>
												<option {{#ifEqual user.education "bachelor"}}selected{{/ifEqual}} value="bachelor">BA/BS/BSc</option>
												<option {{#ifEqual user.education "master"}}selected{{/ifEqual}} value="master">MA/MS/MSc/MPhil</option>
											</select>
										</div>
									</div>
									<div class="col-md-6">
										<div class="form-group">
											<label class="form-label">داخلہ کلاس</label>
											<select class="form-select" name="admission"
												required>
												<option {{#ifEqual user.admission "درجہ-1"}}selected{{/ifEqual}} value="درجہ-1">درجہ 1</option>
												<option {{#ifEqual user.admission ""}}selected{{/ifEqual}} value="درجہ-2">درجہ 2</option>
												<option {{#ifEqual user.admission ""}}selected{{/ifEqual}} value="درجہ-3">درجہ 3</option>
												<option {{#ifEqual user.admission ""}}selected{{/ifEqual}} value="درجہ-4">درجہ 4</option>
												<option {{#ifEqual user.admission ""}}selected{{/ifEqual}} value="درجہ-5">درجہ 5</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<!-- /.box-body -->
							<div class="box-footer">
								<button type="submit" class="btn btn-primary">
									<i class="ti-save-alt"></i>{{#if user}} ترمیم کریں{{else}} جمع کریں{{/if}}
								</button>
								<button type="reset" class="btn btn-warning me-1">
									<i class="ti-trash"></i> صاف کریں
								</button>
							</div>
						</form>
					</div>
					<!-- /.box -->
				</div>
			</div>
			<!-- /.row -->

		</section>
		<!-- /.content -->
	</div>
</div>

{{>footer}}
<script src="/vendor_components/formatter/formatter.js"></script>
<script src="/vendor_components/formatter/jquery.formatter.js"></script>
<script src="/js/pages/students.js"></script>