{{>header}}


{{>navbar}}

{{>sidebar}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="container-full">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="d-flex align-items-center">
                <div class="me-auto">
                    <h3 class="page-title">ترمیم نمبرات برائے {{student.name}}</h3>
                </div>

            </div>
        </div>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-lg-6 col-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h4 class="box-title">مارکس ترمیم کرنے کا فارم</h4>
                        </div>
                        <!-- /.box-header -->
                        <form class="form" method="post">
                            <input type="hidden" name="studentId" id="studentId" value="{{student.id}}">
                            <div class="box-body">
                                <div class="row">
                                    <div class="col-md-4 text-center">
                                        <h6>نام: <strong class="me-2">{{student.name}}</strong></h6>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <h6>رول نمبر: <strong class="me-2">{{student.rollNumber}}</strong></h6>
                                    </div>
                                    <div class="col-md-4 text-center">
                                        <h6>کلاس: <strong class="me-2">{{student.admission.name}}</strong></h6>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">سیشن</label>
                                            <select class="form-select" id="session" name="session" required>
                                                {{#each session}}
                                                <option value="{{this}}">{{this}}</option>
                                                {{/each}}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label class="form-label">امتحانات</label>
                                            <select class="form-select" name="term" id="term" required>
                                                <option value="چار ماہہ">چار ماہہ</option>
                                                <option value="شیش  ماہہ">شیش ماہہ</option>
                                                <option value="سالانہ">سالانہ</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mt-auto">
                                        <div class="form-group">
                                            <a href="#" id="filter-submit" class="btn btn-primary btn-sm">تلاش
                                                کریں</a>
                                        </div>

                                    </div>
                                </div>
                                <div class="row" id="result">
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary" disabled>
                                    <i class="ti-save-alt"></i> ترمیم کریں
                                </button>
                                <button type="reset" class="btn btn-warning me-1">
                                    <i class="ti-trash"></i> صاف کریں
                                </button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
            <!-- /.row -->

        </section>
        <!-- /.content -->
    </div>
</div>

{{>footer}}
<script src="/vendor_components/formatter/formatter.js"></script>
<script src="/vendor_components/formatter/jquery.formatter.js"></script>
<script src="/js/pages/students.js"></script>
<script>
    $(document).ready(function () {

        let filterSubmit = $('#filter-submit');
        filterSubmit.on('click', () => {
        const studentId = $('#studentId').val()
        const session = $('#session').val()
        const term = $('#term').val()
            $.ajax({
                url: '/marks/student-marks',
                method: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                processData: false,
                data: JSON.stringify({ studentId, session, term }),
                success: ({ body }) => {
                    let marks = body;
                    //empty the result for adding the marks elements
                    $('#result').empty()
                    console.log(marks)
                    if (marks.length>0) {
                        $('button[type=submit]').attr("disabled", false);
                        marks.forEach(mark => {
                            let element = createInputElement(mark);
                            $('#result').append(element);
                        })
                    }else{
                        $('button[type=submit]').attr("disabled", true);
                        $('#result').html(`<h4 class="text-center text-danger py-2">کوئی نمبر نہیں ملے!</h4>`);
                    }
                },
                error: (err) => {
                    console.error(err);
                    alert(err?.message)
                }
            })
        })
    })
    function createInputElement(data) {
        let subject = data.subject;

        // Create a div element with class "col-md-6"
        var divCol = document.createElement('div');
        divCol.className = 'col-md-6';

        // Create a div element with class "form-group"
        var divFormGroup = document.createElement('div');
        divFormGroup.className = 'form-group';

        // Create a label element with class "form-label" and text content "Name"
        var labelName = document.createElement('label');
        labelName.className = 'form-label';
        labelName.textContent = subject.name;

        // Create an input element with type "number", min="0", class "form-control", and required attribute
        var inputName = document.createElement('input');
        inputName.type = 'number';
        inputName.min = '0';
        inputName.max = subject.totalMarks;
        inputName.name = `marksObtained[${subject._id}]`
        inputName.value = data.marksObtained;
        inputName.className = 'form-control';
        inputName.required = true;

        // Append the label and input elements to the "form-group" div
        divFormGroup.appendChild(labelName);
        divFormGroup.appendChild(inputName);

        // Append the "form-group" div to the "col-md-6" div
        divCol.appendChild(divFormGroup);
        return divCol;
    }
</script>