{{>header}}


{{>navbar}}

{{>sidebar}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h3 class="page-title">مارکس</h3>
				</div>

			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="box">
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							<table id="example"
								class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
								<thead>
									<tr>
										<th width="100px">رول نمبر</th>
										<th>نام</th>
										<th>کلاس</th>
										<th width="100px">کارروائی</th>
									</tr>
								</thead>
								<tbody>
									{{#each students}}
									<tr>
										<td>{{this.rollNumber}}</td>
										<td>{{this.name}}</td>
										<td>{{this.admission.name}}</td>
										<td>
											<a class="btn btn-success px-2 py-1" href="/marks/add/{{this.id}}"><i
													class="mdi mdi-plus"></i></a>
											<a class="btn btn-success px-2 py-1 me-1" href="/marks/edit/{{this.id}}"><i
													class="mdi mdi-border-color"></i></a>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>

						</div>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
</div>


{{>footer}}
<script src="/vendor_components/datatable/datatables.min.js"></script>

<script src="/js/pages/data-table.js"></script>
