{{>header}}


{{>navbar}}

{{>sidebar}}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
	<div class="container-full">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="d-flex align-items-center">
				<div class="me-auto">
					<h3 class="page-title">{{class.name}} <small>مارکس لیسٹ</small></h3>
				</div>

			</div>
		</div>

		<!-- Main content -->
		<section class="content">
			<div class="row">
				<div class="box">
					<!-- /.box-header -->
					<div class="box-body">
						<div class="table-responsive">
							<table id="example"
								class="table table-bordered table-hover display nowrap margin-top-10 w-p100">
								<thead>
									<tr>
										<th width="100px">رول نمبر</th>
										<th>نام</th>
										<th>والد کا نام</th>
										{{#each class.subjects}}
										<th>{{this.name}}</th>
										{{/each}}
										<th>حاصل کردا نمبر</th>
										<th>کل نمبر</th>
										<th>فیصد</th>
										<th>تبصرہ</th>
										<th width="100px">کارروائی</th>
									</tr>
								</thead>
								<tbody>
									{{#each students}}
									<tr>
										<td>{{this.rollNumber}}</td>
										<td>{{this.name}}</td>
										<td>{{this.fatherName}}</td>
										{{#each ../class.subjects}}
										<td>{{getMarkBySubject this._id ../this}}</td>
										{{/each}}
										<td>{{totalObtainedMarks this ../class._id}}</td>
										<td>{{totalMarks ../class}}</td>
										<td>{{percentageOfTotalMarks (totalObtainedMarks this ../class._id) (totalMarks
											../class)}}%</td>
										<td>{{studentRemarks percentageOfTotalMarks (totalObtainedMarks this
											../class._id) (totalMarks ../class)}}</td>
										<td>
											<a class="btn btn-success px-2 py-1" href="/marks/add/{{this.id}}"><i
													class="mdi mdi-plus"></i></a>
											<a class="btn btn-success px-2 py-1 me-1" href="/marks/edit/{{this.id}}"><i
													class="mdi mdi-border-color"></i></a>
											<a class="btn btn-success px-2 py-1 me-1"
												href="/marks/view?studentId={{this.id}}&classId={{../class._id}}"><i
													class="glyphicon glyphicon-user"></i></a>
										</td>
									</tr>
									{{/each}}
								</tbody>
							</table>

						</div>
					</div>
					<!-- /.box-body -->
				</div>
			</div>
			<!-- /.row -->
		</section>
		<!-- /.content -->
	</div>
</div>


{{>footer}}
<script src="/vendor_components/datatable/datatables.min.js"></script>

<script>
	$(function () {
		"use strict";

		$("#example").DataTable({
			dom: "B<'dataTables_filter session w-100 ms-2'>frtip",
			buttons: ["excel"],
			language: {
				sSearch: "تلاش کریں",
				info: "_PAGES_ صفحے میں سے صفحہ _PAGE_ دکھایا جا رہا ہے",
				infoEmpty: "کوئی ریکارڈ دستیاب نہیں ہے",
				zeroRecords: "کوئی ریکارڈ دستیاب نہیں ہے",
				formatNoMatches: "کوئی مماثل ریکارڈ دستیاب نہیں ہیں",
				paginate: {
					first: "پہلا",
					last: "آخری",
					next: "اگلا",
					previous: "پچھلا",
				},
			},
		});
		let sessionEl = document.querySelector('.session');
		
		// adding session(year) option to the select dropdown
		let option = `{{{session}}}`
		sessionEl.innerHTML = '<label>سال<select class="form-select me-1 py-1 d-inline" style="border-color:#ccc;">'+option+'</select></label>'

		sessionEl.addEventListener('change',(e)=>{
			document.location.href = `?session=${e.target.value}`
		})
	});

</script>